.App {
  text-align: center;
  padding-top: 50px;

}

.label {
  margin-right: 10px;
  font-size: 25px;
  font-weight: 500;
  
}
.input {
  margin-right: 10px;
  background-color: rgba(210, 238, 250, 0.834);
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 300px;
  font-size: 20px;

}
.btnAdd {
  border-radius: 15px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid grey;
}
.cajas {
  
  margin: 10px;
  display:inline-block;
  height: 100px;
  width: 100px;
  text-indent: 100%;
}
